:root{
  --pale-blue: #8ed3e8;
  --deep-blue: #1b91bf;
  --pale-pink: #ffa3d6;
  --pale-gray: #6b739b;
  --pale-yellow: #f2b263;
  --pale-orange: #ffc7c7;
  --deep-orange: #f26d3d;
  --pale-purple: #bd89ca;
  --deep-purple: #5751BF;
}

.App {
  background-color: var(--pale-orange);
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-container{
  background-color: var(--pale-orange);
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-around;
  align-items: center;
}

.sidebar-element {
  color: var(--deep-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon{
  height: 30px;
  width: 30px;
}

.sidebar-element > span{
  margin-top: 5px;
  margin-left: 10px;
  font-size: 1rem;
}

.dashboard-container{
  z-index: 5;
  background-color: var(--pale-blue);
  width: 80vw;
  border-radius: 15px 0px 0px 15px;
  display: grid;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 666px) {
  .App {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sidebar-container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .sidebar-element > span{
    font-size: 0.8rem;
    margin-left: 0;
  }

  .dashboard-container{
    z-index: 5;
    width: 100vw;
    height: 80vh;
    border-radius: 10px;
    border-radius: 15px 15px 0px 0px;
  }
}

@media screen and (max-width: 888px) {
  .sidebar-container > .sidebar-element {
    color: var(--deep-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sidebar-element > span{
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
}