<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Covid Diary</title>
  </head>

  <body>
    <main class="app-container">
      <div id="app-header">Dashboard</div>
      <div id="app-section">
        <div id="app-form">
          <span id="form-heading">What Problems are you having today ?</span>
          <form id="form-inputs" action="/" method="POST">
            <div id="input">
              <label id="form-label">Breathing Problem</label>
              <input id="checkbox" type="checkbox" name="bp" />
            </div>
            <div id="input">
              <label id="form-label">Fever</label>
              <input id="checkbox" type="checkbox" name="fev" />
            </div>
            <div id="input">
              <label id="form-label">Dry Cough</label>
              <input id="checkbox" type="checkbox" name="dc" />
            </div>
            <div id="input">
              <label id="form-label">Sore throat</label>
              <input id="checkbox" type="checkbox" name="st" />
            </div>
            <div id="input">
              <label id="form-label">Running Nose</label>
              <input id="checkbox" type="checkbox" name="rn" />
            </div>
            <div id="input">
              <label id="form-label">Asthma</label>
              <input id="checkbox" type="checkbox" name="ast" />
            </div>
            <div id="input">
              <label id="form-label">Chronic Lung Disease</label>
              <input id="checkbox" type="checkbox" name="cld" />
            </div>
            <div id="input">
              <label id="form-label">Headache</label>
              <input id="checkbox" type="checkbox" name="head" />
            </div>
            <div id="input">
              <label id="form-label">Heart Disease</label>
              <input id="checkbox" type="checkbox" name="hd" />
            </div>
            <div id="input">
              <label id="form-label">Diabetes</label>
              <input id="checkbox" type="checkbox" name="diab" />
            </div>
            <div id="input">
              <label id="form-label">Hyper Tension</label>
              <input id="checkbox" type="checkbox" name="ht" />
            </div>
            <div id="input">
              <label id="form-label">Fatigue</label>
              <input id="checkbox" type="checkbox" name="fat" />
            </div>
            <div id="input">
              <label id="form-label">Gastrointestinal</label>
              <input id="checkbox" type="checkbox" name="gas" />
            </div>
            <div id="input">
              <label id="form-label">Abroad travel</label>
              <input id="checkbox" type="checkbox" name="at" />
            </div>
            <div id="input">
              <label id="form-label">Contact with COVID Patient</label>
              <input id="checkbox" type="checkbox" name="cont" />
            </div>
            <div id="input">
              <label id="form-label">Attended Large Gathering</label>
              <input id="checkbox" type="checkbox" name="alg" />
            </div>
            <div id="input">
              <label id="form-label">Visited Public Exposed Places</label>
              <input id="checkbox" type="checkbox" name="vpep" />
            </div>
            <div id="input">
              <label id="form-label"
                >Family working in Public Exposed Places</label
              >
              <input id="checkbox" type="checkbox" name="fwpep" />
            </div>
            <div id="input">
              <label id="form-label">Wearing Masks</label>
              <input id="checkbox" type="checkbox" name="wm" />
            </div>
            <div id="input">
              <label id="form-label">Sanitization from Market</label>
              <input id="checkbox" type="checkbox" name="sm" />
            </div>
            <input type="submit" id="submit" />
          </form>
        </div>
        <div id="app-result">
          <div id="app-pred">Possibility of having an infection : {{inf}}%</div>
        </div>
      </div>
    </main>
  </body>
</html>
